    <div class="container-fluid">
        <div class="row">
        <div class="col-md-8">
            <h1>Sign in to suspectify</h1>
            <div class="container container-left">
            <form>
                <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="text" placeholder="Email" name="email">
                </div>
    
                <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Password" name="psw">
                </div>
    
                <p style="color: black; margin-left: 25%;">Forgot your password?</p>
                <button type="submit" class="btn">SIGN IN</button>
            </form>
            </div>
        </div>
    
        <div class="col-md-4" style="background-color: #3c5afd;">
            <div class="container container-right">
            
        </div>
        </div>
    </div>