<html>
    <body>
        <div class ="Main">
            <section class="nav-bar">
                <div class="nav-container">
                    <span class="brand">
                        <a routerLink="/home"><img src="../../assets/logo.png"></a>
                    </span>
                    <nav>
                        <ul class="nav-list">
                        <li>
                            <a routerLink="/home" style="right: 130%;">Home</a>
                        </li>
                        <li>
                            <a routerLink="/about" style="right: 130%;" >About</a>
                        </li>
                        <li>
                            <a routerLink="/contact" style="right: 130%;" >Contact</a>
                        </li>
                        <li style="float: right;">
                            <a routerLink= "/login" style="left: 23%;">Login</a>
                        </li>
                        <li style="float: right;">
                            <a routerLink="/signup" style="left: 23%">SignUp</a>
                        </li>
                        </ul>
                    </nav>
                </div>
                </section>
                <img src="../../assets/bg-people.png" class="overimg"/>
            <div class = "vectorimg">
                <img style='height: 100%; width: 100%; object-fit: contain' src="../../assets/people.svg" alt="img not found">
            </div>
            <div class="maintext">
                <h1>Know better with<br>profiling</h1>
                <p>It's very simple, Start by searching a <br>name or email, and set what interesting<br>and useful information you can find.</p>
                <button id ="getstarted" routerLink="/login" >Get Started &nbsp;></button>
            </div>
        </div>  
    </body>
</html>