<html>
    <body>
        <div class ="Main">
            <section class="nav-bar">
                <div class="nav-container">
                    <!-- <div class="brand">
                        <a href="#"><img src="#"></a>
                    </div> -->
                    <nav>
                        <ul class="nav-list">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li style="float: right;">
                            <a routerLink= "/login">Login</a>
                        </li>
                        <li style="float: right;">
                            <a href="#!">SignUp</a>
                        </li>
                        </ul>
                    </nav>
                </div>
                </section>
                <img src="../../assets/bg-people.png" class="overimg"/>
            <div class = "vectorimg">
                <img style='height: 100%; width: 100%; object-fit: contain' src="../../assets/people.svg" alt="img not found">
            </div>
        </div>  
    </body>
</html>